{% extends 'baseAdmin.html' %}

{% load static %}

    {% block title %} <title>Update | Privacy Policy</title> {% endblock title %}

{% block header %}

     <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-greeno">Update Privacy Policy Section</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/admin" class="text-greeno">Dashboard</a></li>
              <li class="breadcrumb-item text-aspire"><a href="/adminprivacypolicy" class="text-greeno">Privacy Policy</a></li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->


{% endblock header %}





{% block content %}

<div class="container-fluid">
<div class="row mt-5 mb-5 card container">


    <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}


      <div class="modal-body">
            <div class="row mb-3">
                <div class="col-6">
                    <label>Title</label>
                        <input type="text" name="title" class="form-control" value="{{ form.title }}">
                </div>
                  <div class="col-6">
                    <label>Heading</label>
                       <input type="text" name="heading" class="form-control" value="{{ form.heading }}">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label>Update Description</label><br>
              <textarea class="form-control" name="editor1">{{ form.description }}</textarea>
                </div>
            </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn bg-greeno white" data-dismiss="modal">Close</button>
        <button type="submit" class="btn bg-greeno white">Update Policy</button>
      </div>
             </form>
    </div>

</div>


{% endblock content %}