{% extends 'baseAdmin.html' %}

{% load static %}

    {% block title %} <title>Update | Services Types</title> {% endblock title %}

{% block header %}

     <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-greeno">Update Services Types Section</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/admin" class="text-greeno">Dashboard</a></li>
              <li class="breadcrumb-item text-aspire"><a href="/adminservicesType" class="text-greeno">Services Type</a></li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->


{% endblock header %}





{% block content %}

<div class="container-fluid">
<div class="row mt-5 mb-5 card container">


     <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
      <div class="modal-body">

            <div class="row mb-3">
                <div class="col-4">
                    <label class="white">Service Title</label>
                    {{ form.title }}
                </div>
                 <div class="col-4">
                    <label class="white">Write Quote</label>
                    {{ form.quote }}
                </div>
                <div class="col-4">
                    <label class="white">Quote By</label>
                    {{ form.quote_by }}
                </div>
            </div>

          <div class="row mb-3">
                <div class="col-4">
                    <label class="white">High L 1</label>
                    {{ form.highlight1 }}
                </div>
                 <div class="col-4">
                    <label class="white">High L 2</label>
                    {{ form.highlight2 }}
                </div>
                <div class="col-4">
                    <label class="white">High L 3</label>
                    {{ form.highlight3 }}
                </div>
            </div>

          <div class="row mb-3">
                <div class="col-4">
                    <label class="white">High L 4</label>
                    {{ form.highlight4 }}
                </div>
                 <div class="col-4">
                    <label class="white">High L 5</label>
                    {{ form.highlight5 }}
                </div>
                <div class="col-4">
                    <label class="white">High L 6</label>
                    {{ form.highlight6 }}
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-12">
                    <label class="white">Service Type</label>
                    {{ form.type }}
                </div>
            </div>

           <div class="row mb-3">
                <div class="col-12">
                    <label class="white">Description</label>
                    {{ form.Description }}
                </div>
            </div>

          <div class="row mb-3">
                <div class="col-12">
                    <label class="white">Chosse Images</label>
                    {{ form.icons }}
                </div>

            </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn bg-greeno white" data-dismiss="modal">Close</button>
        <button type="submit" class="btn bg-greeno white">Save Information</button>
      </div>
             </form>
    </div>

</div>


{% endblock content %}