{% extends 'baseHome.html' %}

{% load static %}
{% get_media_prefix as MEDIA_URL %}

{% block content %}

<div class="page-content">

    <!-- INNER PAGE BANNER -->
    <div class="wt-bnr-inr overlay-wraper bg-center" style="background-image:url({% static 'Assets/dronza_images/banner/1.jpg' %});">
        <div class="overlay-main site-bg-primary opacity-09"></div>
        <div class="container">
            <div class="wt-bnr-inr-entry">
                <div class="banner-title-outer">
                    <div class="banner-title-name">
                        <h2 class="site-text-white">Dronza Blog</h2>
                    </div>
                </div>
                <!-- BREADCRUMB ROW -->

                <div>
                    <ul class="wt-breadcrumb breadcrumb-style-2">
                        <li><a href="/blog">Home</a></li>
                        <li>Blog</li>
                    </ul>
                </div>

                <!-- BREADCRUMB ROW END -->
            </div>
        </div>
    </div>
    <!-- INNER PAGE BANNER END -->

    <!-- OUR BLOG START -->
    <div class="section-full  p-t80 p-b50 bg-white" style="transform: none;">
        <div class="container" style="transform: none;">

            <!-- BLOG SECTION START -->
            <div class="section-content" style="transform: none;">
                <div class="row d-flex justify-content-center" style="transform: none;">

                    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 blog-list-style-outer">
                        <!--Block one-->
                        {% if BLOGDATA %}
                            {% for post in BLOGDATA %}
                                <div class="blog-post blog-style-1 blog-list-style">
                                    <div class="wt-post-media wt-img-effect zoom-slow">
                                        <a href="/postDetail/{{ post.sNo }}"><img src="/dronza/media/{{ MEDIA_URL }}{{ post.Icon }}" alt="{{ post.tags }}"></a>
                                    </div>
                                    <div class="wt-post-info">
                                        <div class="wt-post-meta">
                                            <ul>
                                                <li class="post-date">{{ post.created_at }}</li>
                                            </ul>
                                        </div>
                                        <div class="wt-post-title">
                                            <h3 class="post-title"><a href="/postDetail/{{ post.sNo }}">{{ post.title }}</a></h3>
                                        </div>
                                        <div class="wt-post-text">
                                            <p class="small"><a href="/postDetail/{{ post.sNo }}">{{ post.heading }}</a> </p>
                                        </div>
                                        <div class="wt-post-readmore">
                                            <a href="/postDetail/{{ post.sNo }}" class="site-button-link black">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        {% else %}

                            <div class="row text-center mt-5">
                                <h2 class="text-greeno"><i class="fa fa-blog"></i>Sorry! No post found</h2>
                                <p class="h5">Your search did not match any documents.</p>
                            </div>
                            <div>
                                <ul>
                                    <strong>Suggestions:</strong>
                                    <li>Make sure that all words are spelled correctly</li>
                                    <li>Try different keywords</li>
                                    <li>Try more general keywords</li>
                                    <li>Try fewer keywords</li>
                                </ul>
                            </div>

                        {% endif %}

                    </div>


                    <!-- SIDE BAR START -->
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 rightSidebar  m-b30" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">



                        <div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static; transform: none;"><aside class="side-bar">

                            <!-- SEARCH -->
                            <div class="widget p-a20">
                                <div class="search-bx">
                                    <form role="search" method="POST" action="/search_blog">
                                        {% csrf_token %}
                                        <div class="input-group">
                                            <input name="search_keyword" type="text" class="form-control" placeholder="search...">
                                            <span class="input-group-btn">
                                                            <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                                                        </span>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <!-- RECENT POSTS -->
                            <div class="widget recent-posts-entry p-a20">
                                <div class="text-left m-b30">
                                    <h3 class="widget-title">Recent Posts</h3>
                                </div>
                                <div class="section-content">
                                    <div class="widget-post-bx">
                                        {% if Blog_RCPST %}
                                            {% for data in Blog_RCPST %}
                                                <div class="widget-post clearfix">
                                                    <div class="wt-post-media">
                                                        <a href="/postDetail/{{ data.sNo }}"><img src="/dronza/media/{{ MEDIA_URL }}{{ data.Icon }}" alt=""></a>
                                                    </div>
                                                    <div class="wt-post-info">
                                                        <div class="wt-post-meta">
                                                            <ul>
                                                                <li class="post-date">{{ data.created_at }}</li>
                                                            </ul>
                                                        </div>
                                                        <div class="wt-post-header">
                                                            <span class="post-title"> <a href="/postDetail/{{ data.sNo }}">{{ data.title }}</a></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}

                                        {% else %}
                                            <h6 class="ml-3"><strong>No Post Available</strong></h6>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                            <!-- TOP PRODUCT -->
                            <div class="widget p-a20">
                                <div class="text-left m-b30">
                                    <h3 class="widget-title">Top Products</h3>
                                </div>
                                <div class="section-content">

                                    <div class="product-widget">

                                        {% if Top_Products %}
                                        {% for PDCT in Top_Products %}
                                            <div class="product-widget-box clearfix">
                                                <div class="product-widget-media">
                                                   <a href="/shopDetail/{{ PDCT.id }}/{{ PDCT.uuid }}/dronzaProduct"> <img src="{{ PDCT.image.url }}" alt="{{ PDCT.tags }}"></a>
                                                </div>
                                                <div class="product-widget-info">
                                                    <div class="product-widget-header">
                                                        <a href="/shopDetail/{{ PDCT.id }}/{{ PDCT.uuid }}/dronzaProduct" class="product-widget-title">{{ PDCT.name }}</a>
                                                    </div>
                                                    <span class="price">
                                                        <ins>
                                                            <span><span class="Price-currencySymbol">{{ PDCT.currency }} </span>{{ PDCT.price }}</span>
                                                        </ins>
                                                    </span>
                                                </div>
                                            </div>
                                        {% endfor %}

                                        {% else %}
                                        <h6 class="ml-3"><strong>No Products Available</strong></h6>
                                        {% endif %}


                                    </div>
                                </div>
                            </div>




                            <!-- TAGS -->
                            <div class="widget widget_tag_cloud p-a20">
                                <div class="text-left m-b30">
                                    <h3 class="widget-title">Tags</h3>

                                </div>

                                <div class="tagcloud">
                                    <a href="javascript:void(0);">Drone</a>
                                    <a href="javascript:void(0);">Videography </a>
                                    <a href="javascript:void(0);">UAV</a>
                                    <a href="javascript:void(0);">Best Camera</a>
                                    <a href="javascript:void(0);">Cheap Drone</a>
                                    <a href="javascript:void(0);">4K Camera</a>
                                    <a href="javascript:void(0);">Long Range</a>
                                    <a href="javascript:void(0);">Support Shooting</a>
                                    <a href="javascript:void(0);">Shooting Drone</a>
                                </div>
                            </div>


                        </aside></div></div></div>
                <!-- SIDE BAR END -->



                <ul class="pagination m-b0 p-b0 mt-5 bg-light">

                    {% if BLOGDATA.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ BLOGDATA.previous_page_number }}">Previous</a></li>
                    {% endif %}

                    <li class="page-item"><a class="page-link" href="/blog?page=1">First</a></li>


                    {% for tpl in pageList %}
                        <li class="page-item"><a class="page-link" href="/blog?page={{ tpl }}">{{ tpl }}</a></li>
                    {% endfor %}

                    {% if BLOGDATA.has_next  %}
                        <li class="page-item"><a class="page-link" href="?page={{ BLOGDATA.next_page_number }}">Next</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ lastPage }}">Last</a></li>
                    {% endif %}

                </ul>



            </div>

        </div>

    </div>

</div>

{% endblock content %}