{% extends 'baseHome.html' %}
{% load cart_tag %}
{% load static %}

{% block content %}

    <!-- CONTENT START -->
    <div class="page-content">

        <!-- INNER PAGE BANNER -->
    {% for slider in SLIDER %}
        <div class="wt-bnr-inr overlay-wraper bg-center"
             style="background-image:url({{ slider.image.url }});">
            <div class="overlay-main site-bg-secondry opacity-09"></div>
            <div class="container">
                <div class="wt-bnr-inr-entry">
                    <div class="banner-title-outer">
                        <div class="banner-title-name">
                            <h2 class="site-text-white">{{ slider.title }}</h2>
                        </div>
                    </div>
                    <!-- BREADCRUMB ROW -->

                    <div>
                        <ul class="wt-breadcrumb breadcrumb-style-2">
                            <li><a href="/">Home</a></li>
                            <li class="text-white">Your Cart</li>
                        </ul>
                    </div>

                    <!-- BREADCRUMB ROW END -->
                </div>
            </div>
        </div>
    {% endfor %}
        <!-- INNER PAGE BANNER END -->


        <div class="container mt-5 mb-3 d-flex justify-content-end">
            <a href="track-order" class="site-button mr-2"><b>Track your order</b></a>
        </div>

        <div class="section-full p-t80 p-b80">
            <div class="container">
                <div class="section-content">

                    <div id="no-more-tables">
                        <table class="table-bordered  table-condensed cf wt-responsive-table shopping-table">
                            <thead class="cf">
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Name</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total</th>
                                <th scope="col">Operations</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for key,value in request.session.cart.items %}
                                <tr class="text-center">

                                    <td data-title="Image"><img src="{{ value.image }}" style="width: 50px; height: 50px;"/></td>

                                    <td data-title="Product">{{ value.name }}</td>

                                    <td data-title="Unit Price">{{ value.price }}</td>

                                    <td data-title="Quantity">
                                        <a href="cart/item_decrement/{{ value.product_id }}"><i class="fa fa-minus"></i></a>
                                        {{ value.quantity }}
                                        <a href="cart/item_increment/{{ value.product_id }}"><i class="fa fa-plus"></i></a>
                                    </td>
                                    <td data-title="Total">{{ value.price|multiply:value.quantity }}</td>
                                    <td data-title="Remove">
                                        <a href="cart/item_clear/{{ value.product_id }}"><i
                                                class="fa fa-trash text-danger"></i></a>
                                    </td>


                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>

                        <div class="cart-buttons text-left">
                            <a href="/cart/cart_clear/" class="m-b15 site-button-secondry m-r15">Clear Cart</a>
                            <a href="/shop" class="m-b15 site-button">Continue Shopping</a>
                        </div>

                        <div class="cart-total-table shopping-cart-total">
                            <div class="sub_total">
                                <ul class="top">
                                    <li>Subtotal</li>
                                    <li><span>${{ cart_total_amount }}</span></li>
                                </ul>
                                <div class="shipping">
                                    <ul>
                                        <li> Free Shiping <span>+ $00.00</span></li>
                                    </ul>
                                </div>
                                <div class="total">
                                    <ul>
                                        <li>Total</li>
                                        <li><span>${{ cart_total_amount }}</span></li>
                                    </ul>
                                </div>

                            </div>

                            {% if request.session.cart.items|length > 0 %}
                                <div class="proceed-to-checkout text-right">
                                    <a href="/checkout" class="m-t15 site-button">Proceed to checkout</a>

                                </div>
                            {% endif %}


                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock content %}