{% extends 'baseHome.html' %}
{% load cart_tag %}
{% block title %} <title>Cart Detail</title> {% endblock title %}
{% load static %}

{% block content %}

       <!-- CONTENT START -->
        <div class="page-content">

            <!-- INNER PAGE BANNER -->
            <div class="wt-bnr-inr overlay-wraper bg-center" style="background-image:url({% static 'images/banner/5.jpg' %});">
            	<div class="overlay-main site-bg-primary opacity-09"></div>
                <div class="container">
                    <div class="wt-bnr-inr-entry">
                    	<div class="banner-title-outer">
                        	<div class="banner-title-name">
                        		<h2 class="site-text-white">Cart Detail</h2>
                            </div>
                        </div>
                        <!-- BREADCRUMB ROW -->

                            <div>
                                <ul class="wt-breadcrumb breadcrumb-style-2">
                                    <li><a href="/home">Home</a></li>
                                    <li>Your Cart</li>
                                </ul>
                            </div>

                        <!-- BREADCRUMB ROW END -->
                    </div>
                </div>
            </div>
            <!-- INNER PAGE BANNER END -->
            
             <div class="container mt-5 mb-3 d-flex justify-content-end">
            <a href="track_order" class="site-button mr-2"><b>Track your order</b></a>
        </div>

        <div class="container mt-5 mb-5">
             <table class="table table-striped white">
                  <thead class="bg-black">
                    <tr class="text-center">
                       <th scope="col">Product</th>
                       <th scope="col">Name</th>
                      <th scope="col">Price</th>
                      <th scope="col">Quantity</th>
                      <th scope="col">Total</th>
                      <th scope="col">Operations</th>
                    </tr>
                  </thead>
                  <tbody>

                  {% for key,value in request.session.cart.items %}
                    <tr class="text-center">

                      <td><img src="{{value.image}}" style="width: 50px; height: 50px;"/></td>

                        <td>{{ value.name }}</td>

                      <td>{{value.price}}</td>

                     <td>
                          <a href="cart/item_decrement/{{ value.product_id }}"><i class="fa fa-minus"></i></a>
                         {{ value.quantity }}
                         <a href="cart/item_increment/{{ value.product_id }}"><i class="fa fa-plus"></i></a>
                     </td>
                         <td>{{ value.price|multiply:value.quantity }}</td>
                        <td>
                          <a href="cart/item_clear/{{ value.product_id }}"><i class="fa fa-trash text-danger"></i></a>
                      </td>


                    </tr>
                  {% endfor %}

                  </tbody>
                </table>


                <div class="row d-flex justify-content-end">

                <a href="/checkout" class="site-button mr-2"><b>Checkout</b></a>
                <a href="cart/cart_clear" class="site-button mr-2"><b>Clear Cart</b></a>
                <button class="site-button mr-2"><b>Grand total: {{ cart_total_amount }}</b></button>

                </div>

            </div>




        </div>


{% endblock content %}