{% extends 'baseHome.html' %}

{% block title %} <title>Sell Your Drone</title> {% endblock title %}
{% load  static %}

{% block content %}


        <!-- CONTENT START -->
        <div class="page-content">

            <!-- INNER PAGE BANNER -->
            <div class="wt-bnr-inr overlay-wraper bg-center" style="background-image:url({% static 'Assets/dronza_images/banner/5.jpg' %});">
            	<div class="overlay-main site-bg-primary opacity-09"></div>
                <div class="container">
                    <div class="wt-bnr-inr-entry">
                    	<div class="banner-title-outer">
                        	<div class="banner-title-name">
                        		<h2 class="site-text-white">Your Products</h2>
                            </div>
                        </div>
                        <!-- BREADCRUMB ROW -->

                            <div>
                                <ul class="wt-breadcrumb breadcrumb-style-2">
                                    <li><a href="/sellDrones">Dronza Sell Point</a></li>
                                    <li>Your Products</li>
                                </ul>
                            </div>

                        <!-- BREADCRUMB ROW END -->
                    </div>
                </div>
            </div>
            <!-- INNER PAGE BANNER END -->






                <!-- SECTION CONTENT START -->
            <div class="section-full p-t80 p-b50">
                <div class="container">
                    <div class="section-content">


<div class="container-fluid mt-5">

<div class="row container-fluid justify-content-end">

    {% if user.is_authenticated %}
        <button class="btn bg-greeno white" data-toggle="modal" data-target="#exampleModalCenter">+ Add Product</button>
    {% else %}
        <a href="/user_login" class="btn bg-greeno white" >+ Add Product</a>
    {% endif %}
</div>

    <table class="table table-hover table-bordered mt-5">
  <thead class="bg-greeno white">
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Status</th>
      <th scope="col">Category</th>
      <th scope="col">Price</th>
      <th scope="col">Thumbnail</th>
      <th scope="col" class="text-center">Operations</th>
    </tr>
  </thead>
  <tbody>

  {% for data in SYDProducts %}
    <tr>
      <td>{{ data.title }}</td>
      <td>{{ data.status }}</td>
      <td>{{ data.category }}</td>
      <td>{{ data.price }}</td>
      <td><img src="{{ data.thumbnail.url }}" style="width: 70px; height: 70px;" /></td>
     <td class="text-center">
          <a class="text-center mx-2" href="/customerProduct/{{ data.slug }}/update"><i class="fa fa-edit fa-lg text-success"></i></a>
          <a class="text-center mx-2" href="/customerProduct/{{ data.slug }}/delete"><i class="fa fa-trash fa-lg text-danger"></i></a>
      </td>
        </tr>
  {% endfor %}
  </tbody>

</table>
</div>

						 <ul class="pagination m-b0 p-b0">

                            {% if SYDProducts.has_previous %}
                          <li class="page-item"><a class="page-link" href="?page={{ SYDProducts.previous_page_number }}">Previous</a></li>
                            {% endif %}

                       <li class="page-item"><a class="page-link" href="/customerProduct?page=1">First</a></li>


                        {% for tpl in pageList %}
                          <li class="page-item"><a class="page-link" href="/customerProduct?page={{ tpl }}">{{ tpl }}</a></li>
                        {% endfor %}

                        {% if SYDProducts.has_next  %}
                          <li class="page-item"><a class="page-link" href="?page={{ SYDProducts.next_page_number }}">Next</a></li>
                          <li class="page-item"><a class="page-link" href="?page={{ lastPage }}">Last</a></li>
                            {% endif %}

                        </ul>



                    </div>
                </div>
            </div>
             <!-- SECTION CONTENT END -->


        </div>
        <!-- CONTENT END -->




<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content text-greeno">
      <div class="modal-header bg-greeno">
        <h5 class="modal-title white" id="exampleModalLongTitle">Add Your Product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <input type="hidden" value="{{ user.id }}" name="user_id">

      <div class="modal-body">

           <div class="row mb-3">

               <div class="col-3">
                    <label>Your Name</label>
                   <input type="text" class="form-control" name="name" required="required"
                   placeholder="enter your name" style="border: 1px solid #D4D4D4; border-radius: 3px;">
                </div>
                <div class="col-3">
                    <label>Email</label>
                       <input type="email" class="form-control" name="email" required="required"
                       placeholder="enter your email" style="border: 1px solid #D4D4D4; border-radius: 3px;">
                </div>
              <div class="col-3">
                    <label>Primary Contact</label>
                         <input type="text" class="form-control" name="pPhone" required="required"
                         placeholder="ex. (631) 643-0459" style="border: 1px solid #D4D4D4; border-radius: 3px;">
                </div>
            <div class="col-3">
                    <label>Secondary Contact</label>
                         <input type="text" class="form-control" name="sPhone" required="required"
                         placeholder="ex. (434) 985-8943" style="border: 1px solid #D4D4D4; border-radius: 3px;">
                </div>

          </div>

            <div class="row mb-3">

                <div class="col-12">
                    <label>Enter Your Location</label>
                        <input type="text" class="form-control" name="location" required="required"
                        placeholder="ex. (845) 787-0703396 Washington St Newburgh, New York(NY), 12550" style="border: 1px solid #D4D4D4; border-radius: 3px;">
                </div>

            </div>


            <div class="row mb-3">


                <div class="col-12">
                    <label>Product Title</label>
                        <input type="text" class="form-control" name="title" required="required"
                        placeholder="ex. Dronza Mavic 2" style="border: 1px solid #D4D4D4; border-radius: 3px;">
                </div>

            </div>

          <div class="row mb-3">
               <div class="col-4">
                    <label>Category</label>
                       <select class="form-control" name="category" required style="border: 1px solid #D4D4D4; border-radius: 3px;">
                           <option value="Metal">Metal</option>
                           <option value="Fabric">Fabric</option>
                           <option value="Plastic">Plastic</option>
                           <option value="Titanium">Titanium</option>
                           <option value="Parts">Parts</option>
                           <option value="Other">Other</option>
                       </select>
                </div>
                <div class="col-4">
                    <label>Condition</label>
                         <select class="form-control" name="condition" required style="border: 1px solid #D4D4D4; border-radius: 3px;">
                           <option value="Mint">Mint</option>
                           <option value="Good">Good</option>
                           <option value="Excellent">Excellent</option>
                       </select>
                </div>
              <div class="col-4">
                    <label>Status</label>
                         <select class="form-control" name="status" required style="border: 1px solid #D4D4D4; border-radius: 3px;">
                           <option value="Available">Available</option>
                           <option value="Sold">Sold</option>
                       </select>
                </div>


          </div>


                <div class="row mb-4">

                     <div class="col-4">
                    <label>Price</label>
                       <input type="text" class="form-control" name="price" required="required"
                       placeholder="$100 / 3000 PKR" style="border: 1px solid #D4D4D4; border-radius: 3px;">
                </div>

                    <div class="col-4">
                            <label>Color</label>
                                <input type="text" class="form-control" name="color" required="required"
                                placeholder="Red, Black, White" style="border: 1px solid #D4D4D4; border-radius: 3px;">
                        </div>

                     <div class="col-4">
                            <label>Brand</label>
                                <input type="text" class="form-control" name="brand" required="required"
                                placeholder="DRONZA" style="border: 1px solid #D4D4D4; border-radius: 3px;">
                        </div>

                </div>


            <div class="row mb-4">

                <div class="col-3">
                    <label>Label</label>
                       <input type="text" class="form-control" name="label1" placeholder="Label" style="border: 1px solid #D4D4D4; border-radius: 3px;">
                </div>
                <div class="col-3">
                    <label>Input</label>
                        <input type="text" class="form-control" name="input1" placeholder="description" style="border: 1px solid #D4D4D4; border-radius: 3px;">
                </div>
                <div class="col-3">
                    <label>Label</label>
                        <input type="text" class="form-control" name="label2" placeholder="Label" style="border: 1px solid #D4D4D4; border-radius: 3px;">
                </div>
                <div class="col-3">
                    <label>Input</label>
                       <input type="text" class="form-control" name="input2" placeholder="description" style="border: 1px solid #D4D4D4; border-radius: 3px;">
                </div>

            </div>


           <div class="row mb-4">

                <div class="col-3">
                    <label>Label</label>
                       <input type="text" class="form-control" name="label3" placeholder="Label" style="border: 1px solid #D4D4D4; border-radius: 3px;">
                </div>
                <div class="col-3">
                    <label>Input</label>
                       <input type="text" class="form-control" name="input3" placeholder="description" style="border: 1px solid #D4D4D4; border-radius: 3px;">
                </div>
                <div class="col-3">
                    <label>Label</label>
                        <input type="text" class="form-control" name="label4" placeholder="Label" style="border: 1px solid #D4D4D4; border-radius: 3px;">
                </div>
                <div class="col-3">
                    <label>Input</label>
                        <input type="text" class="form-control" name="input4" placeholder="description" style="border: 1px solid #D4D4D4; border-radius: 3px;">
                </div>

            </div>


            <div class="row mb-4">
                <div class="col-12">
                    <label>Description</label>
                    <textarea type="text" class="form-control" name="description" required="required"
                             style="border: 1px solid #D4D4D4; border-radius: 3px;">Write here ...</textarea>
                </div>

            </div>

          <div class="row mb-3">
              <div class="col-6">
                  <label>Thumbnail</label>
                  <input type="file" class="form-control-file" name="thumbnail" required="required">
                   <small>(size limit 320x180, Upto this size system will drop the quality automatically)</small>
              </div>
              <div class="col-6">
                  <label>Images (Multiple)</label>
                  <input type="file" name="images" class="form-control-file" multiple />
                  <small>(size limit 1080x720, Upto this size system will drop the quality automatically)</small>
              </div>
          </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn bg-greeno white" data-dismiss="modal">Close</button>
        <button type="submit" class="btn bg-greeno white">Save Post</button>
      </div>
             </form>
    </div>
  </div>
</div>





{% endblock content %}