{% extends 'baseHome.html' %}

{% block title %} <title>Drone Parts</title> {% endblock title %}
{% load  static %}

{% block content %}

        <!-- CONTENT START -->
        <div class="page-content">

            <!-- INNER PAGE BANNER -->
            <div class="wt-bnr-inr overlay-wraper bg-center" style="background-image:url({% static 'Assets/dronza_images/banner/5.jpg' %});">
            	<div class="overlay-main site-bg-primary opacity-09"></div>
                <div class="container">
                    <div class="wt-bnr-inr-entry">
                    	<div class="banner-title-outer">
                        	<div class="banner-title-name">
                        		<h2 class="site-text-white">Drone Parts</h2>
                            </div>
                        </div>
                        <!-- BREADCRUMB ROW -->

                            <div>
                                <ul class="wt-breadcrumb breadcrumb-style-2">
                                    <li><a href="/shop">Shop</a></li>
                                    <li>Drone Parts</li>
                                </ul>
                            </div>

                        <!-- BREADCRUMB ROW END -->
                    </div>
                </div>
            </div>
            <!-- INNER PAGE BANNER END -->



            <!-- CATEGORY SECTION START -->
            <div class="section-full p-t80 p-b50 bg-white">
                <div class="container-fluid">
                    <!-- PAGINATION START -->
                    <div class="filter-wrap work-grid p-b30 text-center">
                        <ul class="masonry-filter">
                                <li class="active"><a data-filter="*" href="#">All</a></li>

                            {% for PD in PRDCTGRY %}
                                <li><a data-filter=".{{ PD.category }}" href="#">{{ PD.category }}</a></li>
                            {% endfor %}

                        </ul>
                    </div>
                    <!-- PAGINATION END -->


                </div>
            </div>
            <!-- CATEGORY SECTION END -->

            <!-- SECTION CONTENT START -->
            <div class="section-full p-t80 p-b50">
                <div class="container">
                    <div class="section-content">

                        <div class="masonry-wrap mfp-gallery  row clearfix d-flex justify-content-center flex-wrap">

                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b30">

                                <div class="row">


                                    {% for PDCT in PRDCTS %}
                                    <!-- COLUMNS 1 -->
                                    <div class="masonry-item col-lg-4 col-md-4 m-b30 {{ PDCT.category }}">
                                        <div class="wt-box wt-product-box   overflow-hide">
                                            <div class="wt-thum-bx wt-img-overlay1">

                                                <img src="{{ PDCT.image.url }}" alt="">
                                                <div class="overlay-bx">
                                                    <div class="overlay-icon">
                                                        <a href="/cart/add/{{ PDCT.id }}/drone_parts">
                                                            <i class="fa fa-cart-plus wt-icon-box-xs"></i>
                                                        </a>

                                                  </div>
                                                </div>
                                            </div>
                                            <div class="wt-info">
                                                 <div class="p-a20 bg-white">
                                                    <h3 class="wt-title">
                                                        <a href="/shopDetail/{{ PDCT.id }}/droneParts">{{ PDCT.name }}</a>
                                                    </h3>

													<div class="product-features-item"><span>{{ PDCT.label1 }} | </span>{{ PDCT.input1 }}</div>
													<div class="product-features-item"><span>{{ PDCT.label2 }} | </span>{{ PDCT.input2 }}</div>

                                                      <span class="price">
                                                        <ins>
                                                               <span class="p-price">{{ PDCT.currency }}_{{ PDCT.price }}
                                                                   <del>{{ PDCT.currency }}_{{ PDCT.cPrice }}</del></span>
                                                        </ins>

                                                         <ins>
                                                             <a href="/shopDetail/{{ PDCT.id }}/droneParts" class="btn btn-secondary text-white"><strong>View Detail</strong></a>
                                                        </ins>
                                                    </span>


                                                 </div>
                                            </div>
                                        </div>
                                    </div>

                                    {% endfor %}



                                </div>

                            </div>

						</div>

						 <ul class="pagination m-b0 p-b0">

                            {% if PRDCTS.has_previous %}
                          <li class="page-item"><a class="page-link" href="?page={{ PRDCTS.previous_page_number }}">Previous</a></li>
                            {% endif %}

                       <li class="page-item"><a class="page-link" href="/drone_parts?page=1">First</a></li>


                        {% for tpl in pageList %}
                          <li class="page-item"><a class="page-link" href="/drone_parts?page={{ tpl }}">{{ tpl }}</a></li>
                        {% endfor %}

                        {% if PRDCTS.has_next  %}
                          <li class="page-item"><a class="page-link" href="?page={{ PRDCTS.next_page_number }}">Next</a></li>
                          <li class="page-item"><a class="page-link" href="?page={{ lastPage }}">Last</a></li>
                            {% endif %}

                        </ul>



                    </div>
                </div>
            </div>
             <!-- SECTION CONTENT END -->



            <!-- SECTION CONTENT START -->
            <div class="section-full p-t80 p-b50 bg-gray">
                <div class="container">
                    <div class="section-content">

                        <!-- TITLE START -->
                            <div class="wt-separator-two-part">
                                <div class="row wt-separator-two-part-row">
                                    <div class="col-lg-8 col-md-6 wt-separator-two-part-left">
                                        <!-- TITLE START-->
                                        <div class="section-head left wt-small-separator-outer">
                                            <div class="wt-small-separator site-text-primary">
                                                <div class="sep-leaf-left"></div>
                                                <div>Our Best Products</div>
                                                <div class="sep-leaf-right"></div>
                                            </div>
                                            <h2>Featured products</h2>
                                        </div>
                                        <!-- TITLE END-->
                                    </div>
                                    <div class="col-lg-4 col-md-6 wt-separator-two-part-right text-right">
                                    </div>
                                </div>
                            </div>

                        <!-- TITLE END -->

                        <div class="owl-carousel featured-products owl-btn-vertical-center">


                            {% for FTP in FEATURED %}
                            <!-- COLUMNS 1 -->
                            <div class="item">
                                <div class="wt-box wt-product-box   overflow-hide">
                                    <div class="wt-thum-bx wt-img-overlay1">
                                        <img src="{{ FTP.image.url }}" alt="">
                                        <div class="overlay-bx">
                                            <div class="overlay-icon">
                                                <a href="/cart/add/{{ PDCT.id }}/drone_parts">
                                                    <i class="fa fa-cart-plus wt-icon-box-xs"></i>
                                                </a>

                                          </div>
                                        </div>
                                    </div>
                                    <div class="wt-info">
                                         <div class="p-a20 bg-white">
                                            <h3 class="wt-title">
                                                <a>{{ FTP.title }}</a>
                                            </h3>

                                            <div class="product-features-item"><span>{{ FTP.label1 }} | </span>{{ FTP.input1 }}</div>
                                            <div class="product-features-item"><span>{{ FTP.label2 }} | </span>{{ FTP.input2 }}</div>

                                            <span class="price">
                                                <ins>
                                                    <span><span class="Price-currencySymbol">{{ FTP.currency }}_</span>{{ FTP.price }}
                                                        <del>{{ FTP.currency }}_{{ FTP.cPrice }}</del></span>
                                                </ins>
                                            </span>



                                         </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
             <!-- SECTION CONTENT END -->

        </div>
        <!-- CONTENT END -->
{% endblock content %}