{% extends 'baseHome.html' %}

{% load  static %}

{% block content %}

    <!-- CONTENT START -->
    <div class="page-content">

        <!-- INNER PAGE BANNER -->
        <div class="wt-bnr-inr overlay-wraper bg-center" style="background-image:url({% static 'Assets/dronza_images/banner/5.jpg' %});">
            <div class="overlay-main site-bg-secondry opacity-09"></div>
            <div class="container">
                <div class="wt-bnr-inr-entry">
                    <div class="banner-title-outer">
                        <div class="banner-title-name">
                            <h2 class="site-text-white">Dronza Shop</h2>
                        </div>
                    </div>
                    <!-- BREADCRUMB ROW -->

                    <div>
                        <ul class="wt-breadcrumb breadcrumb-style-2">
                            <li><a href="/">Home</a></li>
                            <li>Dronza Shop</li>
                        </ul>
                    </div>

                    <!-- BREADCRUMB ROW END -->
                </div>
            </div>
        </div>
        <!-- INNER PAGE BANNER END -->




        <!-- CATEGORY SECTION START -->
        <div class="section-full p-t80 p-b50 bg-white">
            <div class="container-fluid">
                <!-- PAGINATION START -->
                <div class="filter-wrap work-grid p-b30 text-center">
                    <ul class="masonry-filter">
                        <li class="active"><a data-filter="*" href="#">All</a></li>

                        {% for PD in DRONZATGRY %}
                            <li><a data-filter=".{{ PD.category }}" href="#">{{ PD.category }}</a></li>
                        {% endfor %}

                    </ul>
                </div>
                <!-- PAGINATION END -->


            </div>
        </div>
        <!-- CATEGORY SECTION END -->

        <!-- SECTION CONTENT START -->
        <div class="section-full p-t80 p-b50">
            <div class="container">
                <div class="section-content">

                    <div class="masonry-wrap mfp-gallery  row clearfix d-flex justify-content-center flex-wrap">

                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b30">

                            <div class="row">


                                {% for PDCT in dronzaProductsFINAL %}
                                    <!-- COLUMNS 1 -->
                                    <div class="masonry-item col-lg-4 col-md-4 m-b30 {{ PDCT.category }}">
                                        <div class="wt-box wt-product-box overflow-hide">
                                            <div class="wt-thum-bx wt-img-overlay1">

                                                <img src="{{ PDCT.image.url }}" alt="{{ PDCT.tags }}">
                                                <div class="overlay-bx">
                                                    <div class="overlay-icon">
                                                        <a href="/cart/add/{{ PDCT.id }}">
                                                            <i class="fa fa-cart-plus wt-icon-box-xs"></i>
                                                        </a>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="wt-info">
                                                <div class="p-a20 bg-white">
                                                    <h3 class="wt-title">
                                                        <a href="/shop/{{ PDCT.slug }}">{{ PDCT.name }}</a>
                                                    </h3>
                                                    <div class="product-single-availability">
                                                        Availability: <span>{{ PDCT.availability }}</span>
                                                    </div>
                                                    <div class="product-single-rating">
                                                        <span class="rating-bx">
                                                         <i class="fa fa-star text-danger"></i>
                                                            <i class="fa fa-star text-danger"></i>
                                                            <i class="fa fa-star text-danger"></i>
                                                            <i class="fa fa-star text-danger"></i>
                                                            <i class="fa fa-star-o text-danger"></i>
                                                        </span>
                                                    </div>
                                                    <span class="price">
                                                        <ins>
                                                           <span>{{ PDCT.currency }} {{ PDCT.price }}
                                                               <del>{{ PDCT.currency }} {{ PDCT.cPrice }}</del></span>
                                                        </ins>

                                                         <br><ins>
                                                             <a href="/shop/{{ PDCT.slug }}" class="btn btn-secondary text-white"><strong>View Detail</strong></a>
                                                        </ins>
                                                    </span>


                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                {% endfor %}



                            </div>

                        </div>

                    </div>

                    <ul class="pagination m-b0 p-b0">

                        {% if dronzaProductsFINAL.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page={{ dronzaProductsFINAL.previous_page_number }}">Previous</a></li>
                        {% endif %}

                        <li class="page-item"><a class="page-link" href="/dronzaShop?page=1">First</a></li>


                        {% for tpl in dronzapageList %}
                            <li class="page-item"><a class="page-link" href="/dronzaShop?page={{ tpl }}">{{ tpl }}</a></li>
                        {% endfor %}

                        {% if dronzaProductsFINAL.has_next  %}
                            <li class="page-item"><a class="page-link" href="?page={{ dronzaProductsFINAL.next_page_number }}">Next</a></li>
                            <li class="page-item"><a class="page-link" href="?page={{ dronzalastPage }}">Last</a></li>
                        {% endif %}

                    </ul>



                </div>
            </div>
        </div>
        <!-- SECTION CONTENT END -->






        <!-- SECTION CONTENT START -->
        <div class="section-full p-t80 p-b50 bg-gray">
            <div class="container">
                <div class="section-content">

                    <!-- TITLE START -->
                    <div class="wt-separator-two-part">
                        <div class="row wt-separator-two-part-row">
                            <div class="col-lg-8 col-md-6 wt-separator-two-part-left">
                                <!-- TITLE START-->
                                <div class="section-head left wt-small-separator-outer">
                                    <div class="wt-small-separator site-text-primary">
                                        <div class="sep-leaf-left"></div>
                                        <div>Our Best Products</div>
                                        <div class="sep-leaf-right"></div>
                                    </div>
                                    <h2>Featured products</h2>
                                </div>
                                <!-- TITLE END-->
                            </div>
                            <div class="col-lg-4 col-md-6 wt-separator-two-part-right text-right">
                            </div>
                        </div>
                    </div>

                    <!-- TITLE END -->

                    <div class="owl-carousel featured-products owl-btn-vertical-center">


                        {% for FTP in FEATURED %}
                            <!-- COLUMNS 1 -->
                            <div class="item">
                                <div class="wt-box wt-product-box   overflow-hide">
                                    <div class="wt-thum-bx wt-img-overlay1">
                                        <img src="{{ FTP.image.url }}" alt="{{ FTP.tags }}">
                                        <div class="overlay-bx">
                                            <div class="overlay-icon">
                                                <a href="/cart/add/{{ FTP.id }}">
                                                    <i class="fa fa-cart-plus wt-icon-box-xs"></i>
                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="wt-info">
                                        <div class="p-a20 bg-white">
                                            <h3 class="wt-title">
                                                <a href="/shop/{{ FTP.slug }}">{{ FTP.name }}</a>
                                            </h3>

                                            <div class="product-features-item"><span>Camera | </span>{{ FTP.camera }}</div>
                                            <div class="product-features-item"><span>Flight Time | </span>{{ FTP.flight_time }}</div>

                                            <span class="price">
                                                <ins>
                                                    <span>{{ FTP.currency }} {{ FTP.price }}
                                                        <del>{{ FTP.currency }} {{ FTP.cPrice }}</del></span>
                                                </ins>
                                                <br><ins>
                                                             <a href="/shop/{{ FTP.slug }}" class="btn btn-secondary text-white"><strong>View Detail</strong></a>
                                                        </ins>
                                            </span>



                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
        <!-- SECTION CONTENT END -->

    </div>
    <!-- CONTENT END -->
{% endblock content %}