{% extends 'baseHome.html' %}

{% block title %} <title>404-Not Found</title> {% endblock title %}
{% load static %}

{% block content %}

 <!-- CONTENT START -->
        <div class="page-content">

            <!-- Error SECTION START -->
            <div class="error-full-page bg-cover overlay-wraper bg-image-moving" style="background-image:url({% static 'images/background/bg-2.jpg' %})">
					<div class="overlay-main bg-black opacity-07"></div>

                    <div class="error-full-page-inner">
                    	<div class="error-full-page-inner-info">
                            	<div class="error-media">
                                	<img src="{% static 'images/d-testimonial.png' %}" class="slide-top" alt="">
                                </div>
{#                                <h3 class="title-style-2">Error</h3>#}
{#                                <strong>COMING SOON</strong>#}
                                <h4 class="title-style-2">
                                    COMING SOON
                                </h4>
{#                                <p>We’re sorry but we can’t seem to find the page you requested. This might be because you have typed the web address incorrectly.</p>#}
                                <a href="/" class="site-button site-btn-effect">GO TO HOME</a>

                        </div>
                    </div>


            </div>
            <!-- Error  SECTION END -->

        </div>
        <!-- CONTENT END -->


{% endblock content %}