{% extends 'baseHome.html' %}

{% load static %}

{% block content %}

    <div class="page-content">

            <!-- Error SECTION START -->
            <div class="error-full-page bg-cover overlay-wraper bg-image-moving" style="background-image:url({% static 'Assets/dronza_images/background/bg-2.jpg' %}); background-position: -1122px 0px;">
					<div class="overlay-main bg-black opacity-07"></div>

                    <div class="error-full-page-inner">
                    	<div class="error-full-page-inner-info">
                            	<div class="error-media">
                                	<img src="{% static 'Assets/dronza_images/d-testimonial.png' %}" class="slide-top" alt="Dronza error 404">
                                </div>
                                <h3 class="title-style-2">Error</h3>
                                <strong>404</strong>
                                <h4 class="title-style-2">
                                    Oops! Looks like the page is gone.
                                </h4>
                                <p>We’re sorry but we can’t seem to find the page you requested. This might be because you have typed the web address incorrectly.</p>
                                <a href="/" class="site-button site-btn-effect">GO TO HOME</a>

                        </div>
                    </div>


            </div>
            <!-- Error  SECTION END -->

        </div>


{% endblock content %}