{% extends 'baseHome.html' %}

{% load static %}

{% block content %}


    <!-- CONTENT START -->
    <div class="page-content">

        <!-- INNER PAGE BANNER -->
        {% for slider in SLIDER %}
            <div class="wt-bnr-inr overlay-wraper bg-center"
                 style="background-image:url({{ slider.image.url }});">
                <div class="overlay-main site-bg-secondry opacity-09"></div>
                <div class="container">
                    <div class="wt-bnr-inr-entry">
                        <div class="banner-title-outer">
                            <div class="banner-title-name">
                                <h2 class="site-text-white">{{ slider.title }}</h2>
                            </div>
                        </div>
                        <!-- BREADCRUMB ROW -->

                        <div>
                            <ul class="wt-breadcrumb breadcrumb-style-2">
                                <li><a href="/"></a>Home</li>
                                <li class="text-white">Dronza Sell Point</li>
                            </ul>
                        </div>

                        <!-- BREADCRUMB ROW END -->
                    </div>
                </div>
            </div>
        {% endfor %}
        <!-- INNER PAGE BANNER END -->


        <div class="row mt-3 justify-content-end mr-4">
            <a href="/contact-us" class="site-button"><i class="fa fa-drone"></i>Complaint Us</a><span>|</span>
            <a href="/customer-product" class="site-button"><i class="fa fa-drone"></i>+ Add Your Product</a>
        </div>

        <div class="row mt-3 justify-content-center">
            <div class="col-md-6">
                <!-- SEARCH -->
                <div class="widget p-a20">
                    <div class="search-bx">
                        <form role="search" method="POST" action="/search-by-location">
                            {% csrf_token %}
                            <div class="input-group">

                                <select class="form-control border" name="product_type">
                                    <option disabled selected>select type</option>
                                    {% for value, label in product_choices %}
                                        <option value="{{ value }}"
                                              {% if value == product_type %}selected{% endif %}>{{ label }}</option>
                                    {% endfor %}
                                </select>

                             <select class="form-control border" name="product_category">
                                    <option disabled selected>select category</option>
                                    {% for value, label in category_choices %}
                                        <option value="{{ value }}"
                                              {% if value == product_category %}selected{% endif %}>{{ label }}</option>
                                    {% endfor %}
                                </select>

                                <select class="form-control border" name="brand">
                                    <option disabled selected>select brand</option>
                                    {% for value, label in brands_choices %}
                                        <option value="{{ value }}"
                                        {% if value == brand %}selected{% endif %}>{{ label }}</option>
                                    {% endfor %}
                                </select>

                                <select class="form-control border" name="condition">
                                    <option disabled selected>select condition</option>
                                    {% for value, label in condition_choices %}
                                        <option value="{{ value }}"
                                        {% if value == condition %}selected{% endif %}>{{ label }}</option>
                                    {% endfor %}
                                </select>

                            <select class="form-control border" name="speed_mode">
                                    <option disabled selected>speed mode</option>
                                    {% for value, label in speed_mode_choices %}
                                        <option value="{{ value }}"
                                        {% if value == speed_mode %}selected{% endif %}>{{ label }}</option>
                                    {% endfor %}
                                </select>

                              <select class="form-control border" name="wing_type">
                                    <option disabled selected>wing type</option>
                                    {% for value, label in wing_type_choices %}
                                        <option value="{{ value }}"
                                        {% if value == wing_type %}selected{% endif %}>{{ label }}</option>
                                    {% endfor %}
                                </select>


                                <input name="location" type="text" class="form-control border"
                                       placeholder="location..." value="{% if location %}{{ location }}{% endif %}"

                                >

                                <span class="input-group-btn">
                                 <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <!-- SECTION CONTENT START -->
        <div class="section-full p-t10 p-b50">
            <div class="container">
                <div class="section-content">

                    <div class="masonry-wrap mfp-gallery  row clearfix d-flex justify-content-center flex-wrap">

                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b30">

                            <div class="row">

                                {% if sellerProducts %}
                                    {% for PDCT in sellerProducts %}
                                        <!-- COLUMNS 1 -->
                                        <div class="masonry-item col-lg-4 col-md-4 m-b30">
                                            <div class="wt-box wt-product-box   overflow-hide">
                                                <div class="wt-thum-bx wt-img-overlay1">

                                                    <img src="{{ PDCT.thumbnail.url }}" alt="{{ PDCT.title }}">
                                                    <div class="overlay-bx">
                                                        <div class="overlay-icon">
                                                            <a href="/sell-drones/{{ PDCT.slug }}">
                                                                <i class="fa fa-eye wt-icon-box-xs"></i>
                                                            </a>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="wt-info">
                                                    <div class="p-a20 bg-white">
                                                        <h3 class="wt-title">
                                                            <a href="/sell-drones/{{ PDCT.slug }}">{{ PDCT.title }}</a>
                                                        </h3>

                                                        <div class="product-features-item">
                                                            <span>Brand | </span>{{ PDCT.brand }}</div>
                                                        <div class="product-features-item">
                                                            <span>Color | </span>{{ PDCT.color }}</div>

                                                        <span class="price">
                                                        <ins>
                                                               <span class="p-price">Price: {{ PDCT.price }}</span>
                                                        </ins>

                                                         <br><ins>
                                                             <a href="/sell-drones/{{ PDCT.slug }}"
                                                                class="btn btn-secondary text-white"><strong>View Detail</strong></a>
                                                        </ins>
                                                    </span>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    {% endfor %}
                                {% else %}
                                    <!-- COLUMNS 2 -->
                                    <div class="masonry-item col-lg-6 col-md-12 m-b30">
                                        <div class="row mt-5">
                                            <h2 class="text-greeno"><i class="fa fa-blog"></i>Sorry! No Listing found
                                            </h2>

                                        </div>
                                        <div>
                                            <ul>
                                                <strong>Suggestions:</strong>
                                                <li>Make sure that all words are spelled correctly</li>
                                                <li>Try different keywords</li>
                                                <li>Try more general keywords</li>
                                                <li>Try fewer keywords</li>
                                            </ul>
                                        </div>
                                    </div>
                                {% endif %}


                            </div>

                        </div>

                    </div>

                  <ul class="pagination m-b0 p-b0">
    {% if sellerProducts.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ sellerProducts.previous_page_number }}{% if product_type %}&product_type={{ product_type }}{% endif %}{% if product_category %}&product_category={{ product_category }}{% endif %}{% if brand %}&brand={{ brand }}{% endif %}{% if condition %}&condition={{ condition }}{% endif %}{% if speed_mode %}&speed_mode={{ speed_mode }}{% endif %}{% if wing_type %}&wing_type={{ wing_type }}{% endif %}{% if location %}&location={{ location }}{% endif %}">Previous</a></li>
    {% endif %}

    <li class="page-item"><a class="page-link" href="/search-by-location?page=1{% if product_type %}&product_type={{ product_type }}{% endif %}{% if product_category %}&product_category={{ product_category }}{% endif %}{% if brand %}&brand={{ brand }}{% endif %}{% if condition %}&condition={{ condition }}{% endif %}{% if speed_mode %}&speed_mode={{ speed_mode }}{% endif %}{% if wing_type %}&wing_type={{ wing_type }}{% endif %}{% if location %}&location={{ location }}{% endif %}">First</a></li>

    {% for tpl in pageList %}
        <li class="page-item"><a class="page-link" href="?page={{ tpl }}{% if product_type %}&product_type={{ product_type }}{% endif %}{% if product_category %}&product_category={{ product_category }}{% endif %}{% if brand %}&brand={{ brand }}{% endif %}{% if condition %}&condition={{ condition }}{% endif %}{% if speed_mode %}&speed_mode={{ speed_mode }}{% endif %}{% if wing_type %}&wing_type={{ wing_type }}{% endif %}{% if location %}&location={{ location }}{% endif %}">{{ tpl }}</a></li>
    {% endfor %}

    {% if sellerProducts.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ sellerProducts.next_page_number }}{% if product_type %}&product_type={{ product_type }}{% endif %}{% if product_category %}&product_category={{ product_category }}{% endif %}{% if brand %}&brand={{ brand }}{% endif %}{% if condition %}&condition={{ condition }}{% endif %}{% if speed_mode %}&speed_mode={{ speed_mode }}{% endif %}{% if wing_type %}&wing_type={{ wing_type }}{% endif %}{% if location %}&location={{ location }}{% endif %}">Next</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ lastPage }}{% if product_type %}&product_type={{ product_type }}{% endif %}{% if product_category %}&product_category={{ product_category }}{% endif %}{% if brand %}&brand={{ brand }}{% endif %}{% if condition %}&condition={{ condition }}{% endif %}{% if speed_mode %}&speed_mode={{ speed_mode }}{% endif %}{% if wing_type %}&wing_type={{ wing_type }}{% endif %}{% if location %}&location={{ location }}{% endif %}">Last</a></li>
    {% endif %}
</ul>






                </div>
            </div>
        </div>
        <!-- SECTION CONTENT END -->


        <!-- SECTION CONTENT START -->
        <div class="section-full p-t80 p-b50 bg-gray">
            <div class="container">
                <div class="section-content">

                    <!-- TITLE START -->
                    <div class="wt-separator-two-part">
                        <div class="row wt-separator-two-part-row">
                            <div class="col-lg-8 col-md-6 wt-separator-two-part-left">
                                <!-- TITLE START-->
                                <div class="section-head left wt-small-separator-outer">
                                    <div class="wt-small-separator site-text-primary">
                                        <div class="sep-leaf-left"></div>
                                        <div>Verified Products</div>
                                        <div class="sep-leaf-right"></div>
                                    </div>
                                    <h2>Featured Listings</h2>
                                </div>
                                <!-- TITLE END-->
                            </div>
                            <div class="col-lg-4 col-md-6 wt-separator-two-part-right text-right">
                            </div>
                        </div>
                    </div>

                    <!-- TITLE END -->

                    <div class="owl-carousel featured-products owl-btn-vertical-center">

                        {% for FTP in FEATURED %}
                            <!-- COLUMNS 1 -->
                            <div class="item">
                                <div class="wt-box wt-product-box   overflow-hide">
                                    <div class="wt-thum-bx wt-img-overlay1">
                                        <img src="{{ FTP.thumbnail.url }}" alt="{{ FTP.title }}">
                                        <div class="overlay-bx">
                                            <div class="overlay-icon">
                                                <a href="/sell-drones/{{ FTP.slug }}">
                                                    <i class="fa fa-eye wt-icon-box-xs"></i>
                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="wt-info">
                                        <div class="p-a20 bg-white">
                                            <h3 class="wt-title">
                                                <a href="/sell-drones/{{ FTP.slug }}">{{ FTP.title }}</a>
                                            </h3>

                                            <div class="product-features-item">
                                                <span>Brand | </span>{{ FTP.brand }}</div>
                                            <div class="product-features-item">
                                                <span>Color | </span>{{ FTP.color }}</div>

                                            <span class="price">
                                                        <ins>
                                                               <span class="p-price">Price: {{ FTP.price }}</span>
                                                        </ins>

                                                         <br><ins>
                                                             <a href="/sell-drones/{{ FTP.slug }}"
                                                                class="btn btn-secondary text-white"><strong>View Detail</strong></a>
                                                        </ins>
                                                    </span>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
        <!-- SECTION CONTENT END -->

    </div>
    <!-- CONTENT END -->
{% endblock content %}