{% extends 'baseHome.html' %}

{% load static %}


{% block content %}

    <!-- CONTENT START -->
        <div class="page-content">

            <!-- INNER PAGE BANNER -->
            {% for slider in SLIDER %}
            <div class="wt-bnr-inr overlay-wraper bg-center" style="background-image:url({{ slider.image.url }});">
            	<div class="overlay-main site-bg-secondry opacity-09"></div>
                <div class="container">
                    <div class="wt-bnr-inr-entry">
                    	<div class="banner-title-outer">
                        	<div class="banner-title-name">
                        		<h2 class="site-text-white">{{ slider.title }}</h2>
                            </div>
                        </div>
                        <!-- BREADCRUMB ROW -->

                            <div>
                                <ul class="wt-breadcrumb breadcrumb-style-2">
                                    <li><a>Team</a></li>
                                    <li class="text-white">Team Detail</li>
                                </ul>
                            </div>

                        <!-- BREADCRUMB ROW END -->
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- INNER PAGE BANNER END -->

            <!-- OUR TEAM SINGLE SECTION START -->
                <div class="section-full p-t80 p-b50 bg-gray">
                    <div class="container">
                        <div class="section-content">

                                <div class="section-content">

                                    <div class="row justify-content-center">
                                        <div class="col-lg-4 col-md-4 m-b30">

                                            <div class="wt-team-1">

                                                <div class="wt-media">
                                                    <img src="{{ rec.profile.url }}" alt="{{ rec.name }}">
                                                </div>

                                                <div class="wt-info">
                                                    <div class="team-detail p-t30">
                                                        <span class="title-style-2 team-position site-text-primary">{{ rec.designation | safe }}</span>
                                                        <h3 class="m-t0 team-name">{{ rec.name }}</h3>
                                                    </div>
                                                    <div class="team-social-center">
                                                        <ul class="team-social-bar">
                                                            <li><a href="{{ rec.social_link_1 }}">{{ rec.social_name_1 }}</a></li>
                                                            <li><a href="{{ rec.social_link_2 }}">{{ rec.social_name_2 }}</a></li>
                                                            <li><a href="{{ rec.social_link_3 }}">{{ rec.social_name_3 }}</a></li>
                                                        </ul>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                        <div class="col-lg-8 col-md-8 m-b30">
                                            <div class="wt-team-1-single">
                                            	<h3 class="m-t0">{{ rec.designation }}</h3>
                                                <ul class="wt-team-1-single-info">
                                                    <li><span>Experience</span><span>{{ rec.experience }}</span></li>
                                                    <li><span>Phone</span><span>{{ rec.phone }}</span></li>
                                                    <li><span>Email</span><span>{{ rec.email }}</span></li>
                                                </ul>
                                               <p>{{ rec.description | safe }}</p>

                                            </div>
                                        </div>

                                    </div>


                                </div>

                        </div>
                    </div>
                </div>
            <!-- OUR TEAM SINGLE SECTION END -->



        </div>
        <!-- CONTENT END -->

{% endblock content %}