{% extends 'baseHome.html' %}
{% load cart_tag %}
{% load static %}

{% block content %}

    <!-- CONTENT START -->
    <div class="page-content">

        <!-- INNER PAGE BANNER -->
        <div class="wt-bnr-inr overlay-wraper bg-center" style="background-image:url({% static 'images/banner/5.jpg' %});">
            <div class="overlay-main site-bg-secondry opacity-09"></div>
            <div class="container">
                <div class="wt-bnr-inr-entry">
                    <div class="banner-title-outer">
                        <div class="banner-title-name">
                            <h2 class="site-text-white">Track order</h2>
                        </div>
                    </div>
                    <!-- BREADCRUMB ROW -->

                    <div>
                        <ul class="wt-breadcrumb breadcrumb-style-2">
                            <li><a href="/">Home</a></li>
                            <li class="text-white">Your Order</li>
                        </ul>
                    </div>

                    <!-- BREADCRUMB ROW END -->
                </div>
            </div>
        </div>
        <!-- INNER PAGE BANNER END -->


        <!-- User Information -->





        <!-- SECTION CONTENT START -->
        <div class="section-full p-t80 p-b100">
            <div class="container">
                <div class="section-content">

                    <div class="masonry-wrap mfp-gallery  row clearfix d-flex justify-content-center flex-wrap">

                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b30">

                            <div class="row">


                            {% if product_orders %}
                                {% for orders in product_orders %}
                                    <!-- COLUMNS 1 -->
                                    <div class="masonry-item col-lg-4 col-md-4 m-b30">
                                        <div class="wt-box wt-product-box   overflow-hide">
                                            <div class="wt-thum-bx wt-img-overlay1">

                                                <img src="{% static 'Assets/dronza_images/order_tracker.png' %}" alt="">
                                                <div class="overlay-bx">
                                                    <div class="overlay-icon">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="wt-info">
                                                <div class="p-a20 bg-white">
                                                    <h3 class="wt-title">
                                                        <p>{{ orders.order_at}}</p>
                                                        <a>{{ orders.c_name }}</a>
                                                    </h3>

                                                    <div class="product-features-item"><span>Order No: </span>{{ orders.uuid }}</div>
                                                    <div class="product-features-item"><span>Grand Total | </span><u>{{ orders.p_grand_total }} PKR</u>    </div>

                                                    <span class="price">
                                                        <ins>
                                                               <span class="p-price">{{ orders.status }} </span>
                                                        </ins>

                                                         <ins class="ml-4">
                                                             <a href="/track-order/{{ orders.uuid }}" class="btn btn-secondary text-white"><strong>View Detail</strong></a>
                                                        </ins>
                                                    </span>


                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                {% endfor %}

                                {% else %}

                                <div class="row text-center">
                                  <h1 class="text-greeno"><i class="fa fa-shopping-cart"></i> No orders found</h1>
                                </div>


                            {% endif %}



                            </div>

                        </div>

                    </div>





                </div>
            </div>
        </div>
    </div>
    <!-- SECTION CONTENT END -->




{% endblock content %}