{% extends 'baseHome.html' %}

{% block title %} <title>Update your drone product</title> {% endblock title %}
{% load static %}

{% block content %}


    <!-- CONTENT START -->
    <div class="page-content">

        <!-- INNER PAGE BANNER -->
        {% for slider in main_slider %}
            <div class="wt-bnr-inr overlay-wraper bg-center"
                 style="background-image:url({{ slider.image.url }});">
                <div class="overlay-main site-bg-secondry opacity-09"></div>
                <div class="container">
                    <div class="wt-bnr-inr-entry">
                        <div class="banner-title-outer">
                            <div class="banner-title-name">
                                <h2 class="site-text-white">{{ slider.title }}</h2>
                            </div>
                        </div>
                        <!-- BREADCRUMB ROW -->

                        <div>
                            <ul class="wt-breadcrumb breadcrumb-style-2">
                                <li><a href="/customer-product">Your Product List</a></li>
                                <li class="text-white">Your Products</li>
                            </ul>
                        </div>

                        <!-- BREADCRUMB ROW END -->
                    </div>
                </div>
            </div>
        {% endfor %}
        <!-- INNER PAGE BANNER END -->


        <!-- SECTION CONTENT START -->
        <div class="section-full p-t80 p-b50">
            <div class="container">
                <div class="section-content">


                    <div class="container-fluid mt-5">

                        <div class="row container-fluid justify-content-end">

                            <form action="" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}


                                <div class="modal-body">

                                    <div class="row mb-3">

                                        <div class="col-3">
                                            <label>Name</label>
                                            <input type="text" class="form-control" name="name" required="required"
                                                   value="{{ Record.name }}" style="border: solid 1px #000000;">
                                        </div>
                                        <div class="col-3">
                                            <label>Email</label>
                                            <input type="email" class="form-control" name="email" required="required"
                                                   value="{{ Record.email }}" style="border: solid 1px #000000;">
                                        </div>
                                        <div class="col-3">
                                            <label>Primary</label>
                                            <input type="tel" class="form-control" name="pPhone" required="required"
                                                   value="{{ Record.pPhone }}" style="border: solid 1px #000000;">
                                        </div>
                                        <div class="col-3">
                                            <label>Secondary</label>
                                            <input type="tel" class="form-control" name="sPhone" required="required"
                                                   value="{{ Record.sPhone }}" style="border: solid 1px #000000;">
                                        </div>

                                    </div>

                                    <div class="row mb-3">

                                        <div class="col-12">
                                            <label>Address</label>
                                            <input type="text" class="form-control" name="address" required
                                                   value="{{ Record.address }}" style="border: solid 1px #000000;">
                                        </div>

                                    </div>


                                    <div class="row mb-3">


                                        <div class="col-12">
                                            <label>Title</label>
                                            <input type="text" class="form-control" name="title" required="required"
                                                   value="{{ Record.title }}"
                                                   style="border: 1px solid #D4D4D4; border-radius: 3px;">
                                        </div>

                                    </div>

                                    <div class="row mb-3">

                                        <div class="col-4">
                                            <label>Product-type</label>
                                            <select class="form-control" name="product_type" required
                                                    style="border: 1px solid #D4D4D4; border-radius: 3px;">
                                                {% for value, label in product_type %}
                                                    <option value="{{ value }}"
                                                            {% if value == Record.product_type %}selected{% endif %}>{{ label }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <div class="col-4">
                                            <label>Product-category</label>
                                            <select class="form-control" name="product_category" required
                                                    style="border: 1px solid #D4D4D4; border-radius: 3px;">
                                                {% for value, label in product_category %}
                                                    <option value="{{ value }}"
                                                            {% if value == Record.product_category %}selected{% endif %}>{{ label }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <div class="col-4">
                                            <label>Designed-by</label>
                                            <select class="form-control" name="brand" required
                                                    style="border: 1px solid #D4D4D4; border-radius: 3px; border-radius: 3px;">
                                                {% for value, label in brand %}
                                                    <option value="{{ value }}"
                                                            {% if value == Record.brand %}selected{% endif %}>{{ label }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                    </div>


                                    <div class="row mb-4">

                                        <div class="col-3">
                                            <label>Condition</label>
                                            <select class="form-control" name="condition" required
                                                    style="border: 1px solid #D4D4D4; border-radius: 3px;">
                                                {% for value, label in condition %}
                                                    <option value="{{ value }}"
                                                            {% if value == Record.condition %}selected{% endif %}>{{ label }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <div class="col-3">
                                            <label>Color</label>
                                            <select class="form-control" name="color" required
                                                    style="border: 1px solid #D4D4D4; border-radius: 3px; border-radius: 3px;">
                                                {% for value, label in color %}
                                                    <option value="{{ value }}"
                                                            {% if value == Record.color %}selected{% endif %}>{{ label }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <div class="col-3">
                                            <label>Speed-mode</label>
                                            <select class="form-control" name="speed_mode" required
                                                    style="border: 1px solid #D4D4D4; border-radius: 3px; border-radius: 3px;">
                                                {% for value, label in speed_mode %}
                                                    <option value="{{ value }}"
                                                            {% if value == Record.speed_mode %}selected{% endif %}>{{ label }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <div class="col-3">
                                            <label>Wing-type</label>
                                            <select class="form-control" name="wing_type" required
                                                    style="border: 1px solid #D4D4D4; border-radius: 3px; border-radius: 3px;">
                                                {% for value, label in wing_type %}
                                                    <option value="{{ value }}"
                                                            {% if value == Record.wing_type %}selected{% endif %}>{{ label }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                    </div>

                                    <div class="row mb-4">
                                        <div class="col-4">
                                            <label>Price</label>
                                            <input type="text" class="form-control" name="price" required="required"
                                                   value="{{ Record.price }}"
                                                   style="border: 1px solid #D4D4D4; border-radius: 3px;">
                                        </div>

                                        <div class="col-4">
                                            <label>Model</label>
                                            <input type="text" class="form-control" name="drone_model"
                                                   required="required"
                                                   value="{{ Record.drone_model }}"
                                                   style="border: 1px solid #D4D4D4; border-radius: 3px;">
                                        </div>

                                        <div class="col-4">
                                            <label>Noise-level</label>
                                            <input type="text" class="form-control" name="noise_level"
                                                   required="required"
                                                   value="{{ Record.noise_level }}"
                                                   style="border: 1px solid #D4D4D4; border-radius: 3px;">
                                        </div>


                                    </div>

                                    <div class="row mb-4">
                                        <div class="col-12">
                                            <label>Status</label>
                                            <select class="form-control" name="status" required
                                                    style="border: 1px solid #D4D4D4; border-radius: 3px; border-radius: 3px;">
                                                {% for value, label in status %}
                                                    <option value="{{ value }}"
                                                            {% if value == Record.status %}selected{% endif %}>{{ label }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row mb-4">
                                        <div class="col-12">
                                            <label>Description</label>
                                            <textarea type="text" class="form-control" name="editor1" required
                                                      style="border: 1px solid #D4D4D4; border-radius: 3px;">{{ Record.description }}</textarea>
                                        </div>

                                    </div>


                                    <div class="row mb-3">
                                        <label>Edit Thumbnail (Optional)</label>
                                        <select class="form-control" name="edit_file" id="editFiles1"
                                                style="border: 1px solid #D4D4D4; border-radius: 3px;">
                                            <option value="False">NO</option>
                                            <option value="True">YES</option>

                                        </select>

                                        <div id="editFiles">
                                            <div class="row mt-4 container">
                                                <label>Edit Files:</label>
                                                <input type="file" class="form-control" name="thumbnail"
                                                       style="border: 1px solid #D4D4D4; border-radius: 3px;">
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row mb-3 d-flex justify-content-end">
                                        <a href="/customer-product" class="btn btn-outline-danger mr-3">
                                            <i class="fa fa-backward"></i> Go Back</a>
                                        <button type="submit" class="btn btn-outline-danger">Update Record</button>

                                    </div>

                                </div>

                                <div class="d-flex justify-content-end">

                                </div>
                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- CONTENT END -->

    {% block script %}
        <script src="https://cdn.ckeditor.com/4.19.0/standard/ckeditor.js"></script>
        <script>
            CKEDITOR.replace('editor1');
        </script>


        <script>
            $(function () {
                $('#editFiles').hide();
                $('#editFiles1').change(function () {
                    if ($('#editFiles1').val() == 'True') {
                        $('#editFiles').show();
                        document.getElementById('icon').required = true;
                    } else {
                        $('#editFiles').hide();
                        document.getElementById('icon').required = false;
                    }
                });
            });
        </script>
    {% endblock script %}

{% endblock content %}