{% extends 'baseHome.html' %}

{% block title %} <title>Update product</title> {% endblock title %}
{% load  static %}

{% block content %}


    <!-- CONTENT START -->
    <div class="page-content">

        <!-- INNER PAGE BANNER -->
        <div class="wt-bnr-inr overlay-wraper bg-center" style="background-image:url({% static 'Assets/dronza_images/banner/5.jpg' %});">
            <div class="overlay-main site-bg-primary opacity-09"></div>
            <div class="container">
                <div class="wt-bnr-inr-entry">
                    <div class="banner-title-outer">
                        <div class="banner-title-name">
                            <h2 class="site-text-white">Edit Your Products</h2>
                        </div>
                    </div>
                    <!-- BREADCRUMB ROW -->

                    <div>
                        <ul class="wt-breadcrumb breadcrumb-style-2">
                            <li><a href="/customerProduct">Your Product List</a></li>
                            <li>Your Products</li>
                        </ul>
                    </div>

                    <!-- BREADCRUMB ROW END -->
                </div>
            </div>
        </div>
        <!-- INNER PAGE BANNER END -->


        <!-- SECTION CONTENT START -->
        <div class="section-full p-t80 p-b50">
            <div class="container">
                <div class="section-content">


                    <div class="container-fluid mt-5">

                        <div class="row container-fluid justify-content-end">

                              <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}


                    <div class="modal-body">

                        <div class="row mb-3">

                            <div class="col-3">
                                <label>Your Name</label>
                                <input type="text" class="form-control" name="name" required="required"
                                       value="{{ Record.name }}" style="border: solid 1px #000000;">
                            </div>
                            <div class="col-3">
                                <label>Email</label>
                                <input type="email" class="form-control" name="email" required="required"
                                       value="{{ Record.email }}" style="border: solid 1px #000000;">
                            </div>
                            <div class="col-3">
                                <label>Primary Contact</label>
                                <input type="text" class="form-control" name="pPhone" required="required"
                                       value="{{ Record.pPhone }}" style="border: solid 1px #000000;">
                            </div>
                            <div class="col-3">
                                <label>Secondary Contact</label>
                                <input type="text" class="form-control" name="sPhone" required="required"
                                       value="{{ Record.sPhone }}" style="border: solid 1px #000000;">
                            </div>

                        </div>

                        <div class="row mb-3">

                            <div class="col-12">
                                <label>Enter Your Location</label>
                                <input type="text" class="form-control" name="location" required
                                       value="{{ Record.location }}" style="border: solid 1px #000000;">
                            </div>

                        </div>


                        <div class="row mb-3">


                            <div class="col-12">
                                <label>Product Title</label>
                                <input type="text" class="form-control" name="title" required="required"
                                       value="{{ Record.title }}" style="border: 1px solid #000000;">
                            </div>

                        </div>

                        <div class="row mb-3">
                            <div class="col-6">
                                <label>Category</label>
                                <select class="form-control" name="category" required style="border: 1px solid #000000;">
                                    <option value="{{ Record.category }}">{{ Record.category }}</option>
                                    <option value="Metal">Metal</option>
                                    <option value="Fabric">Fabric</option>
                                    <option value="Parts">Parts</option>
                                    <option value="Plastic">Plastic</option>
                                    <option value="Titanium">Titanium</option>
                                    <option value="Parts">Parts</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                            <div class="col-6">
                                <label>Condition</label>
                                <select class="form-control" name="condition" required style="border: 1px solid #000000;">
                                    <option value="{{ Record.condition }}">{{ Record.condition }}</option>
                                    <option value="Mint">Mint</option>
                                    <option value="Good">Good</option>
                                    <option value="Excellent">Excellent</option>
                                </select>
                            </div>


                        </div>


                        <div class="row mb-4">

                            <div class="col-4">
                                <label>Price</label>
                                <input type="text" class="form-control" name="price" required="required"
                                      value="{{ Record.price }}" style="border: 1px solid #000000;">
                            </div>

                            <div class="col-4">
                                <label>Color</label>
                                <input type="text" class="form-control" name="color" required="required"
                                      value="{{ Record.color }}" style="border: 1px solid #000000;">
                            </div>

                            <div class="col-4">
                                <label>Brand</label>
                                <input type="text" class="form-control" name="brand" required="required"
                                      value="{{ Record.brand }}" style="border: 1px solid #000000;">
                            </div>

                        </div>


                        <div class="row mb-4">

                            <div class="col-3">
                                <label>Label</label>
                                <input type="text" class="form-control" name="label1" value="{{ Record.label1 }}" style="border: 1px solid #000000;">
                            </div>
                            <div class="col-3">
                                <label>Input</label>
                                <input type="text" class="form-control" name="input1" value="{{ Record.input1 }}" style="border: 1px solid #000000;">
                            </div>
                            <div class="col-3">
                                <label>Label</label>
                                <input type="text" class="form-control" name="label2" value="{{ Record.label2 }}" style="border: 1px solid #000000;">
                            </div>
                            <div class="col-3">
                                <label>Input</label>
                                <input type="text" class="form-control" name="input2" value="{{ Record.input2 }}" style="border: 1px solid #000000;">
                            </div>

                        </div>


                        <div class="row mb-4">

                            <div class="col-3">
                                <label>Label</label>
                                <input type="text" class="form-control" name="label3" value="{{ Record.label3 }}" style="border: 1px solid #000000;">
                            </div>
                            <div class="col-3">
                                <label>Input</label>
                                <input type="text" class="form-control" name="input3" value="{{ Record.input3 }}" style="border: 1px solid #000000;">
                            </div>
                            <div class="col-3">
                                <label>Label</label>
                                <input type="text" class="form-control" name="label4" value="{{ Record.label4 }}" style="border: 1px solid #000000;">
                            </div>
                            <div class="col-3">
                                <label>Input</label>
                                <input type="text" class="form-control" name="input4" value="{{ Record.input4 }}" style="border: 1px solid #000000;">
                            </div>

                        </div>


                        <div class="row mb-4">
                            <div class="col-12">
                                <label>Description</label>
                                <textarea type="text" class="form-control" name="description" required style="border: 1px solid #000000;">{{ Record.description }}</textarea>
                            </div>

                        </div>

                        <div class="row mb-3 d-flex justify-content-end">
                                <a href="/customerProduct" class="btn bg-greeno white mr-3">
                                    <i class="fa fa-backward"></i> Go Back</a>
                                <button type="submit" class="btn bg-greeno white">Update Record</button>

                        </div>

                    </div>

                    <div class="d-flex justify-content-end">

                    </div>
                </form>



                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- CONTENT END -->




{% endblock content %}